.container-content {
    overflow: auto;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 90vh;
    align-items: start;
    justify-items: center;
    grid-template-areas: 
    "title content";
}
.content-title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.content-title h1 {
    position: fixed;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    letter-spacing: 2rem;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    font-size: 4rem;
}

ul.content {
    margin:1rem auto;
    padding: 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 30px -10px;

}
.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-module {
    grid-area: content;
    text-align: center;
}

.content img {
    width: 150px;
    margin:15px;
}

@media screen and (max-width: 700px){
    .container-content {
        overflow: scroll;
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        justify-items: center;
        grid-template-areas: 
        "content";
    }
    .content {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    .content-title {
        display: none;
    }
    // ul.content {
    //     margin:0 auto;
    // }
    .content img{
        align-self: center;
    }
  }