.container-formation {
    overflow: auto;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 90vh;
    align-items: start;
    justify-items: center;
    grid-template-areas: 
    "title content";
}
.formation-title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.formation-title h1 {
    position: fixed;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    letter-spacing: 2rem;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    font-size: 4rem;
}

ul.formation {
    margin:1rem auto;
}
.formation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.formation-module {
    grid-area: content;
}

.formation img {
    width: 150px;
    margin:15px;
}

@media screen and (max-width: 700px){
    .container-formation {
        overflow: scroll;
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        justify-items: center;
        grid-template-areas: 
        "content";
    }
    .formation {
        flex-direction: column;
        align-items: start;
        padding: 15px;
    }
    .formation-title {
        display: none;
    }
    ul.formation {
        margin:0 auto;
    }
    .formation img{
        align-self: center;
    }
  }